
.svgs {
  width: 35vh;
}

.ModalPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__openbtn {
    background-color: white;
    border: 1px black solid;
   }
  &__content {
    margin-top: 5vh;
    width: 110vh;
    border: black 2px solid;
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(20, 1fr);
    animation: showContent 1s;
    &--cross {
      width: 10px;
      height: 20px;
      grid-column: 2   / 3;
      grid-row: 2  / 3;
    }
    &--warning {
      grid-row: 4 / 7;
      grid-column: 8 / 13;
    }
    &--warningtext {
      grid-row: 12 / 15;
      grid-column: 1 / 22;
      text-align: center;
      font-size: 6vh;
    }
    &--cancel {
      border: gray 1px solid;
      grid-row: 16 / 18;
      grid-column: 5 / 11;
      border-radius: 1vh;
      text-align: center;
      padding-top: 2vh;
      font-size: 3vh;

    }
    &--uninstall {
      border: gray 1px solid;
      grid-row: 16 / 18;
      grid-column: 12 / 18;
      border-radius: 1vh;
      text-align: center;
      padding-top: 2vh;
      font-size: 3vh;
    }
  }
}

.hide {
  display: none;
}
.blackbg {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 30vh;
}

@keyframes showContent {
  0% { margin-top: -5vh; }
  100% { margin-top: 5vh;}
}
